.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  /* border-radius: 3px; */
  position: relative;
}

.primary {
  color: #fff;
  background-color: #049fd9;
  /* box-shadow: inset 0 -2px 0 0 rgba($black , 0.4); */
  /* font-size: 16px; */
  /* line-height: 12px; */
  text-align: center;
  /* text-shadow: 0 1px 0 0 rgba($black, 0.2); */

  outline: none;
}

.primary:hover {
  background-color: #097dbc;
}

.secondary {
  color: #049fd9;
  border: 1px solid #049fd9;
  box-shadow: none;
  /* line-height: 12px; */
  text-align: center;
  text-shadow: 0 1px 0 0 rgba(#000000, 0.2);
  background-color: transparent;
  outline: none;

  /* &:hover:not(.disabled):not(.missing) {
    color: $white;
    border-radius: 3px;
    background-color: $blue;
  }

  &:active:not(.disabled):not(.missing) {
    color: $white;
    background-color: $blue;
    border-radius: 3px;
    box-shadow: inset 0 2px 2px 0 rgba($black, 0.2);
  } */
}

.secondary:hover {
  background-color: #049fd9;
  color: #fff;
}
.size_compact {
  height: 24px;
  min-width: 80px;
}

.size_normal {
  height: 32px;
  padding-right: 15px;
  padding-left: 15px;
  /* font-size: 15px; */
}

.size_large {
  height: 40px;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 16px;
}

.size_x_large {
  height: 48px;
  padding: 0;
  padding-right: 45px;
  padding-left: 45px;
  font-size: 16px;
}

.whiteFill {
  /* background-color: $white; */
  /* box-shadow: inset 0 -2px 0 0 rgba($black, 0.2), 0 0 1px 0 rgba($black, 0.2); */
  border-radius: 3px;
  border: none;

  /* color: $med-gray-3; */
  font-family: "Lato";
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-align: center;

  /* // &:hover:not(.disabled):not(.missing) {
  //   color: $blue;
  //   background-color: $white;
  // }

  // &:active:not(.disabled):not(.missing) {
  //     color: $blue;
  //     background-color: $white;
  //     box-shadow: inset 0 2px 2px 0 rgba($black, 0.2);
  //     outline: none;
  // }

  // &.disabled {
  //   color: $med-gray-1;
  // } */
}

.missing {
  /* color: $orange;
  border-color: $orange;

  // &:hover:not(.whiteFill) {
  //   background-color: $orange;
  //   color: $white;
  // }

  // &:active:not(.whiteFill) {
  //   background-color: $orange;
  //   color: $white;
  //   border-radius: 3px;
  //   box-shadow: inset 0 2px 2px 0 rgba($black, 0.2);
  // } */
}

.disabled {
  /* opacity: $disabled-opacity; */
  cursor: not-allowed;
}
