.header {
  width: 100%;
  z-index: 99;
}

.menuItem {
  cursor: pointer;
}

.mainMenu {
  display: flex;
  justify-content: flex-end;
  line-height: 50px;
  padding-right: 20px;
}

.menuNav li {
  margin: 0;
  padding: 0;

  list-style: none;
  display: inline-block;
  margin-left: 15px;

  color: #4c4f56;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.sticky {
  height: 80px;
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;

  box-shadow: 0 0 35px 10px rgba(0, 0, 0, 0.1);
}

.main {
  border: 1px solid #4c4f56;
  color: #4c4f56;
  padding: 5px 10px 5px 10px;
}
