html,
body {
  height: 100%;
  box-sizing: border-box;
  background: #f5f6f6;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: Lato;
}

body {
  height: 100%;
  position: relative;
  margin: 0;
  font-family: "Lato";
  background-color: #fafafa;
}

.root__container {
  height: 100%;
}
